<form method="post" action="articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <label for="title">Article Title:</label>
    <input type="text" name="article[title]" id="title" value="<%= @article.title %>">

    <label for="content">Article Content:</label>
    <input type="text" name="article[content]" id="content" value="<%= @article.content %>">

  </ul>
  <input id="submit" name="SUBMIT" type="submit">
</form>
